*{
    padding: 0%;
    margin: 0%;
}

body{
    width: 100%;
   
    background-color: #acd8aa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

form{
    width: 60%;
    padding: 20px;
    background-color: #f1dbdf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

input{
    height: 30px;
}